@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #E8E8E8;
  --black: #101010;
  --grey: #989898;
  --darkgrey: #5E5E5E;
  
  color-scheme: dark;
  color: var(--white);
  background-color: var(--black);
}

html,
body {
    overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--grey);
  border: 2px solid var(--black);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
::-webkit-scrollbar-thumb:active {
  background: var(--grey);
}
::-webkit-scrollbar-track {
  background: #00000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #00000000;
}
::-webkit-scrollbar-track:active {
  background: #00000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.contact-links li {
    position: relative;
}
.contact-links li a::before {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: -2px;
    background: var(--darkgrey);
    height: 1.5px;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.contact-links li a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.custom-underline::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--grey);
    position: absolute;
    left: 0;
    bottom: 0;
}